__pycache__
*.pyc
*.pyo
*.pyd
.git
.mypy_cache
.pytest_cache
.hypothesis
/media/videos/**
.env
# Git
../.gitignore
.gitattributes


# CI
.codeclimate.yml
.travis.yml
.taskcluster.yml

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
docs/_build/
target/
.venv/
venv/
.idea
.vscode/
/db.sqlite3
/media/images/**
/media/media/**
/media/music/**
/media/speech/**
/media/other/avatars/**
/media/other/backgrounds/**
/media/other/intros/**
/media/other/outros/**