/media/
/venv/
/db.sqlite3

*.pyc
.env
.wav

/gfpgan/weights/
.tar
.safetensors
/checkpoints
.pth
results
/gfpgan/
/apps/videomanagement/utils/SadTalker/docs/
/apps/videomanagement/utils/SadTalker/examples/
/apps/videomanagement/utils/SadTalker/gfpgan/
/apps/videomanagement/utils/SadTalker/results/

/apps/videomanagement/utils/SadTalker/venv/
.mp4
/apps/usermanagement/migrations/
/apps/videomanagement/migrations/
/audio_list.txt
